
[Desktop Entry]
Type=Application
Name=Agenda
Comment=What's to be done
GenericName=TodoList
Exec=agenda
Icon=agenda
Terminal=false
Categories=Utility;
Keywords=Todo;Tasks
