
[Desktop Entry]
Type=Application
Name=Agenda
Comment=What's to be done
GenericName=TodoList
Exec=agenda
Icon=agenda
Terminal=false
Categories=Utility;Office;
Keywords=Todo;Tasks;
X-GNOME-UsesNotifications=true
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Agenda
Exec=agenda -a
