[Desktop Entry]
Type=Application
Name=Agenda
Comment=Get things done
GenericName=Task List
Exec=com.github.dahenson.agenda
Icon=com.github.dahenson.agenda
Terminal=false
X-GNOME-Gettext-Domain=agenda
X-GNOME-UsesNotifications=true
Categories=Utility;Office;ProjectManagement;
Keywords=Todo;Tasks;
