[Desktop Entry]
Type=Application
Name=Agenda
Comment=Get things done
GenericName=Task List
Exec=com.github.dahenson.agenda
Icon=agenda
Terminal=false
X-GNOME-Gettext-Domain=agenda
X-GNOME-UsesNotifications=true
Categories=Utility;Office;
Keywords=Todo;Tasks;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Agenda
Exec=com.github.dahenson.agenda -a
